.viewer {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px;
}

.viewer >*:first-child {
  margin-top: 0 !important;
}

.viewer >*:last-child {
  margin-bottom: 0 !important;
}

.viewer a {
  color: #4183C4;
}

.viewer a.absent {
  color: #cc0000;
}

.viewer a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.viewer h1,
.viewer h2,
.viewer h3,
.viewer h4,
.viewer h5,
.viewer h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

.viewer h1:hover a.anchor,
.viewer h2:hover a.anchor,
.viewer h3:hover a.anchor,
.viewer h4:hover a.anchor,
.viewer h5:hover a.anchor,
.viewer h6:hover a.anchor {
  text-decoration: none;
}

.viewer h1 tt,
.viewer h1 code {
  font-size: inherit;
}

.viewer h2 tt,
.viewer h2 code {
  font-size: inherit;
}

.viewer h3 tt,
.viewer h3 code {
  font-size: inherit;
}

.viewer h4 tt,
.viewer h4 code {
  font-size: inherit;
}

.viewer h5 tt,
.viewer h5 code {
  font-size: inherit;
}

.viewer h6 tt,
.viewer h6 code {
  font-size: inherit;
}

.viewer h1 {
  font-size: 28px;
  color: black;
}

.viewer h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}

.viewer h3 {
  font-size: 18px;
}

.viewer h4 {
  font-size: 16px;
}

.viewer h5 {
  font-size: 14px;
}

.viewer h6 {
  color: #777777;
  font-size: 14px;
}

.viewer p,
.viewer blockquote,
.viewer ul,
.viewer ol,
.viewer dl,
.viewer li,
.viewer table,
.viewer pre {
  margin: 15px 0;
}

.viewer hr {
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0;
}

.viewer >h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

.viewer >h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

.viewer >h1:first-child+h2 {
  margin-top: 0;
  padding-top: 0;
}

.viewer >h3:first-child,
\.viewer >h4:first-child,
\.viewer >h5:first-child,
\.viewer >h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.viewer a:first-child h1,
.viewer a:first-child h2,
.viewer a:first-child h3,
.viewer a:first-child h4,
.viewer a:first-child h5,
.viewer a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

.viewer h1 p,
.viewer h2 p,
.viewer h3 p,
.viewer h4 p,
.viewer h5 p,
.viewer h6 p {
  margin-top: 0;
}

.viewer li p.first {
  display: inline-block;
}

.viewer ul,
.viewer ol {
  padding-left: 30px;
}

.viewer ul :first-child,
.viewer ol :first-child {
  margin-top: 0;
}

.viewer ul :last-child,
.viewer ol :last-child {
  margin-bottom: 0;
}

.viewer dl {
  padding: 0;
}

.viewer dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.viewer dl dt:first-child {
  padding: 0;
}

.viewer dl dt> :first-child {
  margin-top: 0;
}

.viewer dl dt> :last-child {
  margin-bottom: 0;
}

.viewer dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.viewer dl dd> :first-child {
  margin-top: 0;
}

.viewer dl dd> :last-child {
  margin-bottom: 0;
}

.viewer blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}

.viewer blockquote> :first-child {
  margin-top: 0;
}

.viewer blockquote> :last-child {
  margin-bottom: 0;
}

.viewer table {
  padding: 0;
}

.viewer table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

.viewer table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.viewer table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.viewer table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.viewer table tr th :first-child,
.viewer table tr td :first-child {
  margin-top: 0;
}

.viewer table tr th :last-child,
.viewer table tr td :last-child {
  margin-bottom: 0;
}

.viewer img {
  max-width: 100%;
}

.viewer span.frame {
  display: block;
  overflow: hidden;
}

.viewer span.frame>span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

.viewer span.frame span img {
  display: block;
  float: left;
}

.viewer span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0;
}

.viewer span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.viewer span.align-center>span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

.viewer span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.viewer span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.viewer span.align-right>span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}

.viewer span.align-right span img {
  margin: 0;
  text-align: right;
}

.viewer span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

.viewer span.float-left span {
  margin: 13px 0 0;
}

.viewer span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

.viewer span.float-right>span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

.viewer code,
.viewer tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.viewer pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.viewer .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.viewer pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.viewer pre code,
.viewer pre tt {
  background-color: transparent;
  border: none;
}
  
.viewer code {
  /* word-break: break-all; */ /* 英文单词断行 */
  /* word-wrap: break-word; */ /* 自动换行 */
  white-space: pre-wrap !important;
  overflow: auto;
  display: block;
}
