.note-view {
  margin: 60px 0 0 18%;
  box-shadow: 0px 0px 13px grey;
  padding: 10px;
}

.title {
  color: #888;
  text-align: center;
}

.info {
  text-align: right;
  font-size: 12px;
  color: #B0B0B0;
}

.author {
  display: inline-block;
}

.time {
  display: inline-block;
}

.note-preview-content {
  position: fixed;
  top: 60px;
  width: 18%;
  height: calc(100% - 60px);
  z-index: 10;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.note-preview-content ul {
  margin: 0;
  padding: 0 1rem 0 0;
  list-style-type: none;
  color: #939393;
}

.note-preview-content ul li {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.note-preview-content ul li:hover {
  color: #c74d00;
  cursor: pointer;
  font-weight: bold;
}

.preview-active {
  color: #c74d00;
  cursor: pointer;
  font-weight: bold;
}

.space-0 {
  padding-left: 0.4rem;
}

.space-1 {
  padding-left: 1rem;
}

.space-2 {
  padding-left: 2rem;
}

.space-3 {
  padding-left: 3rem;
}

.space-4 {
  padding-left: 4rem;
}

.space-5 {
  padding-left: 5rem;
}
