.add-btn {
  line-height: 55px;
  text-align: center;
}

.add-btn>span {
  background: hsl(210, 68%, 54%);
  padding: 5px 50px;
  color: #FFF;
  border-radius: 3px;
  cursor: pointer;
}

.to-top {
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  text-align: center;
  background-color: #ececec;
  opacity: 0.1;
  cursor: default;
  user-select: none;
}

.body .left {
  position: fixed;
  height: calc(100% - 60px);
  box-shadow: 8px 0 10px rgba(0, 0, 0, .1);
}

.compass {
  width: 90px;
  height: 90px;
  margin: 10px;
  position: relative;
  top: 58px;
}

.compass div {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  cursor: pointer;
  user-select: none;
}

.compass .div-1 {
  /* background-color: rgba(142, 104, 248, 0.377); */
  cursor: default;
}

.compass .div-2 {
  background-color: rgba(122, 240, 151, 0.274);
}

.compass .div-3 {
  /* background-color: rgba(0, 255, 149, 0.151); */
  cursor: default;
}

.compass .div-4 {
  background-color: rgba(255, 187, 0, 0.288);
}

.compass .div-5 {
  background-color: gray;
  color: #FFF;
  cursor: default;
}

.compass .div-6 {
  background-color: rgba(255, 0, 0, 0.35);
}

.compass .div-7 {
  /* background-color: rgba(255, 0, 0, 0.356); */
  cursor: default;
}

.compass .div-8 {
  /* background-color: rgba(0, 204, 255, 0.37); */
  cursor: default;
}

.compass .div-9 {
  /* background-color: rgba(140, 0, 255, 0.493); */
  cursor: default;
}
;