<div class="note-view">
  <h1 class="title">{{noteTitle}}</h1>
  <div class="info">
    <div class="time">{{noteCreateTime}}</div>
    <div class="author">{{noteAuthor}}</div>
  </div>
  <div class="viewer" #notesViewer>
    <span style="font-size: 14px; color: #ccc;">I am loadding...</span>
  </div>
</div>
<!-- note preview -->
<div class="note-preview-content" (scroll)="preventScroll($event);">
  <ul>
    <li *ngFor="let struct of previewStructures" (click)="positionPreview(struct.dom);" class="space-{{struct.tier}}">
      <!-- <span retract="{{struct.tier}}"></span>  -->
      {{struct.name}}
    </li>
  </ul>
</div>
