<div class="note-view">
  <h1 class="title">{{noteTitle}}</h1>
  <div class="info">
    <div class="edit" *ngIf="isMe" (click)="linkToEdit()">[编辑]</div>
    <div class="time">{{noteCreateTime}}</div>
    <div class="author">{{noteAuthor}}</div>
  </div>
  <div class="viewer" #notesViewer>
    <span style="font-size: 14px; color: #ccc;">I am loading...</span>
  </div>
</div>
<!-- note preview -->
<div class="note-preview-content" (scroll)="preventScroll($event);">
  <ul>
    <li *ngFor="let struct of previewStructures; let i=index" (click)="positionPreview(struct.dom);" class="space-{{struct.tier}}" [ngClass]="{'preview-active': i == activeNum}">
      <!-- <span retract="{{struct.tier}}"></span>  -->
      {{struct.name}}
    </li>
  </ul>
</div>
