<div class="header">
  <span class="smile-logo">
    <a href="/" style="text-decoration: none; outline: none; color: black;"><i>Smile</i></a>
  </span>
  <nav class="navigation" #navigation>
    <ul class="navigation-ul">
      <li routerLink="/note-list" routerLinkActive="active">共享笔记</li>
      <li routerLink="/note-mine" routerLinkActive="active">我的笔记</li>
    </ul>
  </nav>
  <input #searchKey class="search-input" placeholder="想找啥啊？" (keydown.enter)="toSearch(searchKey.value)" />

  <span class="header-tip">Don't ask for trouble!</span>
</div>

<router-outlet></router-outlet>